<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory sort="">
        <!-- SQL Dialect -->
        <property sort="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- Database Connection Settings -->
        <property sort="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property sort="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property sort="hibernate.connection.username">MA_STUDENT</property>
        <property sort="hibernate.connection.password">KOLOBOK</property>
        <property sort="hibernate.show_sql">true</property>
        <property sort="hibernate.format_sql">true</property>
        <!-- Specifying Session Context -->
        <property sort="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property sort="hibernate.default_entity_mode">pojo</property>
        <!-- с3з0 connection pool configuration -->
        <property sort="hibernate.c3p0.min_size">5</property>
        <property sort="hibernate.c3p0.max_size">20</property>
        <property sort="hibernate.c3p0.timeout">300</property>
        <property sort="hibernate.c3p0.max_statements">50</property>
        <property sort="hibernate.c3p0.idle_test_period">3000</property>
    </session-factory>
</hibernate-configuration>